html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 400vh;
    color: #535353;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    --red: rgb(216, 79, 79);
    --pink: rgb(216, 79, 216);
    --purple: rgb(79, 79, 216);
    --blue: rgb(79, 216, 216);
    --green: rgb(79, 216, 79);
    --yellow: rgb(216, 216, 79);
    --duration: 360s;
}

@keyframes changeBackground {
  0% {background: var(--red)}
  16.6% {background: var(--pink)}
  33.6% {background: var(--purple)}
  49.9% {background: var(--blue)}
  66.4% {background: var(--green)}
  83% {background: var(--yellow)}
  100% {background: var(--red)}
}

@keyframes changeBorder {
  0% {border-right: 3px solid var(--red)}
  16.6% {border-right: 3px solid var(--pink)}
  33.6% {border-right: 3px solid var(--purple)}
  49.9% {border-right: 3px solid var(--blue)}
  66.4% {border-right: 3px solid var(--green)}
  83% {border-right: 3px solid var(--yellow)}
  100% {border-right: 3px solid var(--red)}
}

@keyframes changeColor {
  0% {color: var(--red)}
  16.6% {color: var(--pink)}
  33.6% {color: var(--purple)}
  49.9% {color: var(--blue)}
  66.4% {color: var(--green)}
  83% {color: var(--yellow)}
  100% {color: var(--red)}
}


a {
    text-decoration: underline;
    color: #FFFFFF
}

.bgColor {
    animation: changeBackground var(--duration) infinite;
}

.invertedText {
    color: #FFFFFF;
}

.logoBackground {
    top: 25px;
    left: 25px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    position: fixed;
    z-index: 100;
}

.logo { 
    height: 60px;
    width: 60px;
    background: url("./assets/JV.svg") center/25px 19px no-repeat;
}

nav {
    position: fixed;
    bottom: 100px;
    right: 50px;
    padding-right: 5px;
    animation: changeBorder var(--duration) infinite;
}

nav ul li {
    list-style: none;
    margin: 2px;
}

.menuItem {
    text-decoration: none;
    color: #535353;
    font-size: 2rem;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 150px 0 0 200px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.triangle {
    margin: 0 0 0 -120px;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.triangleDown {
    margin: 0 0 0 -120px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

header {
    width: auto;
}

#welcomeText {
    width: 50%;
}

#name {
    font-size: 4.5rem;
    font-weight: 700;
    animation: changeColor var(--duration) infinite;
}

#description {
    font-size: 3rem;
    text-align: right;
}

#welcomeImages {
    margin: 250px 0 0 120px;
}

#welcomeImages img {
    height: 200px;
    width: 250px;
}

#about .grid {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto;
    grid-column-gap: 150px;
}

#about p {
    grid-column-start: 1;
    margin: 5px;
}

#about .projects {
    grid-column: 2;
    grid-row: 1;
}

#about .project {
    grid-column:2;
    grid-row: 1;
}

.blogTop {
    margin: 200px 0 7px 253px;
}




#contact {
    background: #535353;
}

#contact form {
    display: inline-block;
}

#formName, #formEmail, #formText  {
    display: block;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    padding: 5px;
    margin: 0 0 10px 0;
}

#formSubmit {
    border: 0;
    padding: 10px 20px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    animation: changeBackground var(--duration) infinite;
}